/* Webfont: Grenda-Regular */@font-face {
    font-family: 'Grenda';
    src: url('Grenda.eot'); /* IE9 Compat Modes */
    src: url('Grenda.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Grenda.woff') format('woff'), /* Modern Browsers */
         url('Grenda.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

